.forecast {
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  display: flex;  
  flex-wrap: wrap;  
  gap: 15px; 
  justify-content: center; 
}

.forecast h3 {
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 15px;
  color: #ffffff;
}

.forecast-day {
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 120px;  
  background: linear-gradient(135deg, #b3d9f9, #acf47d);
}

.temp-range {
  font-size: 1rem;
  color: #ffffff;
  margin: 5px 0;
}

.forecast img {
  width: 50px;
  height: 50px;
  margin: 10px 0;
}
