body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #eaf5ff, #e2ffd2);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar-container {
  margin-bottom: 20px;
}

.weather-card-container {
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}


.favorites-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
}

.remove-button {
  background: none;
  border: none;
  color: #ff8884;
  font-size: 1rem;
  cursor: pointer;
}

.favorites-buttons {
  display: flex;
  gap: 8px;
}

.fav-button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
}

.fav-button.add {
  background: linear-gradient(135deg, #b3d9f9, #acf47d);
  color: rgb(255, 255, 255);
}

.fav-button.remove {
  background: #ff8884;
  color: white;
}
